.col1{
    width: 640px;
    height: 600px;
    margin-left: -109px;
    overflow: auto; 
}

.table tbody{
	overflow: auto;
}

.col2{
    width:630px;
    height:295px ;
    margin-bottom: 10px;
    margin-right: -130px;
    /*padding-right: -100px;*/
    overflow: auto;
}

.but{
    margin-top: 200px;
    margin-left: 150px;

    position: absolute;
    bottom: 8px;
}

.btn1{
    width: 50px;
}

.xx{
    margin: 5px;
}
.contenue{
	overflow: auto;
}